<%= render :partial => "layouts/navbar" %>
<div class="betterwell">
  
  <% if @legislators == [] %>
    <%= render :partial => "layouts/search_partials/invalid_zip" %>
  <% else %>
    <%= render :partial => "layouts/search_partials/legislator_names" %>
  <% end %>

  <% @legislators.each do |legislator|%>
    <% if legislator.twitter_id %>
      <%= render partial: "layouts/search_partials/tweet_form", locals: {legislator: legislator} %>
    <% else %>
      <%= render partial: "layouts/search_partials/email", locals: {legislator: legislator} %>
    <% end %>
      <%= render :partial => "layouts/search_partials/article", locals: {legislator: legislator} %>
  <% end %>

  <div class="center">
    <%= link_to "Find Legislators at Random" , random_zipcodes_path, class: "btn btn-success" unless @legislators == []%>
  </div>

</div>
