<div class="container">
<% if @legislators == [] %>
  <%= render partial: "layouts/invalid_zip" %>

<% else %>

  <h1>The legislators who represent you are: <br><%= @legislators.map(&:full_name).to_sentence %></h1>
<% end %>

  <% if current_user %>
  <% @legislators.each do |legislator|%>


  <p>
    <%= form_for :tweet, url: tweets_path, method: :post do |f| %>
    <%= f.label "Type Tweet Here" %>
    <div class="count"><%= f.text_field(:message, :value => "@#{legislator.twitter_id}", :maxlength => 140) %>
      <h6 class="char_count">remaining characters in tweet</h6>
      <%= f.submit "Send Tweet" %><br><br>
      <% end %>
    </div>
  </p>
<h4><%= legislator.full_name %> in the News</h4>

  <%legislator.articles.each do |article| %>

    <a target="_blank" href=<%= article["web_url"] %>> <%= article["snippet"] %></a><br><br>
  <% end %>

<% end %>
<% else %>
<button class="btn btn-twitter btn-lg"><%= link_to "Sign in with Twitter", login_path(zipcode: params["zipcode"]) %></button>
<% end %>



</div>
